.App {
	margin: 5% 0 0 25%;
	height: 40%;
	max-height: 600px;
	min-width: 500px;
	text-align: center;
	width: 40%;
}

.row {
	border: 1px solid black;
	display: flex;
	width: 100%;
}

.container{
	width: 100%;
	height: 70%;
}

.row-item-header {
	width: 50%;
	border: 1px solid black;
}


.row-item {
	width: 50%;
	min-height: 300px;
}

textarea{
	height: 100%;
}
